@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --lime-green: #1db489;
  --bright-red: #dc414c;
  --facebook: deepskyblue;
  --twitter: #1ca0f2;
  --instagram: linear-gradient(#fdc468, #df4996);
  --youtube: #c4032a;
  --dark-blue-bg: #1e202a;
  --dark-blue-top: #1f212e;
  --dark-desaturated-blue: #252a41;
  --desaturated-blue: #8b97c6;
  --white: white;
  --pale-blue-top-bg: #f5f7ff;
  --light-graysh-blue: #f0f2fa;
  --dark-graysh-blue: #63687e;
  --dark-blue: #1e202a;
  --toggle-dark: linear-gradient(#378fe6, #3eda82);
  --toggle-light: #aeb3cb;
  --card-hover-light: #e0e2f0;
  --card-hover-dark: #333a57;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background: var(--white);
  height: 100vh;
  width: 100%;
  font-size: 1rem;
  color: var(--dark-blue);
}

.grid {
  display: grid;
  padding: 2rem;
  margin: auto;
  grid-template-columns: 1fr;
  max-width: 1200px;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
.header__title {
  font-size: 1.4rem;
}
.header__followers {
  color: var(--dark-graysh-blue);
  font-size: 0.9rem;
  font-weight: 700;
}
@media screen and (min-width: 700px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

.toggle {
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  border-top: 2px solid var(--dark-graysh-blue);
  display: flex;
  justify-content: space-between;
  color: var(--dark-graysh-blue);
}
@media screen and (min-width: 375px) {
  .toggle {
    border-top: 0;
  }
}
.toggle__label {
  font-size: 0.85rem;
  font-weight: 700;
}
@media screen and (min-width: 375px) {
  .toggle__label {
    margin-right: 1rem;
  }
}
.toggle__btn {
  width: 75px;
  height: 25px;
  border-radius: 30px;
  background: #ccc;
  position: relative;
  cursor: pointer;
}
.toggle__btn::after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  background: var(--white);
  transition: left 0.25s ease;
}
.toggle.active .toggle__btn {
  background: var(--toggle-dark);
}
.toggle.active .toggle__btn::after {
  background: var(--dark-graysh-blue);
  left: 70%;
}

.card {
  margin: 1.5rem 0;
  position: relative;
  padding: 2rem;
  background: var(--light-graysh-blue);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}
.card:hover {
  background: var(--card-hover-light);
}
.card__header {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  color: var(--dark-graysh-blue);
}
.card__img {
  margin-right: 0.5rem;
}
.card__body {
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}
.card__body p:first-child {
  font-size: 3rem;
}
.card__body p:last-child {
  color: var(--dark-graysh-blue);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.card__footer {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.card::before {
  content: "";
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 5px;
  background: transparent;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.card--facebook::before {
  background: var(--facebook);
}
.card--twitter::before {
  background: var(--twitter);
}
.card--instagram::before {
  background: var(--instagram);
}
.card--youtube::before {
  background: var(--youtube);
}

.overview {
  display: grid;
}
.overview__title {
  grid-column: 1/-1;
}
.overview .card {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem 0;
}
.overview .card__img {
  transform: scale(1.2);
}
.overview .card__header, .overview .card__footer {
  justify-content: space-between;
}
.overview .card__header {
  font-size: 1rem;
}
.overview .card__footer {
  font-size: 2rem;
}
.overview .card .up,
.overview .card .down {
  font-size: 0.9rem;
}

.up,
.down {
  position: relative;
}
.up::before,
.down::before {
  position: absolute;
  top: -10%;
  left: -0.75rem;
}

.up {
  color: var(--lime-green);
}
.up::before {
  content: url("../images/icon-up.svg");
}

.down {
  color: var(--bright-red);
}
.down::before {
  content: url("../images/icon-down.svg");
}

body.dark {
  background: var(--dark-blue-bg);
  color: var(--white);
}
body.dark .toggle__label {
  color: var(--desaturated-blue);
}
body.dark .card {
  background: var(--dark-desaturated-blue);
}
body.dark .card:hover {
  background: var(--card-hover-dark);
}

body,
.card {
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
