@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
$ff: 'Inter', sans-serif;
$desktop: 1200px;
$tablet: 575px;

@mixin mediaMin($bp){
  @media screen and (min-width: #{$bp}){
    @content;
  }
}

$variables: (
  'lime-green': hsl(163, 72%, 41%),
  'bright-red': hsl(356, 69%, 56%),
  'facebook': hsl(195, 100%, 50%),
  'twitter': hsl(203, 89%, 53%),
  'instagram': linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%)),
  'youtube': hsl(348, 97%, 39%),
  'dark-blue-bg': hsl(230, 17%, 14%),
  'dark-blue-top': hsl(232, 19%, 15%),
  'dark-desaturated-blue': hsl(228, 28%, 20%),
  'desaturated-blue': hsl(228, 34%, 66%),
  'white': hsl(0, 0%, 100%),
  'pale-blue-top-bg': hsl(225, 100%, 98%),
  'light-graysh-blue': hsl(227, 47%, 96%),
  'dark-graysh-blue': hsl(228, 12%, 44%),
  'dark-blue': hsl(230, 17%, 14%),
  'toggle-dark': linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%)),
  'toggle-light': hsl(230, 22%, 74%),
  'card-hover-light': hsl(232, 33%, 91%),
  'card-hover-dark': hsl(228, 26%, 27%)
);

// TRANSITIONS
body,
.card{
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
}

:root{
  @each $color, $value in $variables {
    --#{$color}: #{$value};
  }
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
}
body{
  font-family: $ff;
  line-height: 1.6;
  background: var(--white);
  height: 100vh;
  width: 100%;
  font-size: 1rem;
  color: var(--dark-blue);
}

.wrapper{
  display: grid;
  padding: 2rem;
  margin: auto;
  grid-template-columns: 1fr;
  gap: 3rem;
  max-width: 1440px;
}


.header{
  display: flex;
  flex-direction: column;
  
  &__title{
    font-size: 1.4rem;
  }

  &__followers{
    color: var(--dark-graysh-blue);
    font-size: 0.9rem;
    font-weight: 700;
  }

  @include mediaMin($desktop){
    flex-direction: row;
    justify-content: space-between;
  }
}

.toggle{
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  border-top: 2px solid var(--dark-graysh-blue);
  display: flex;
  justify-content: space-between;
  color: var(--dark-graysh-blue);

  @include mediaMin($desktop){
    border-top: 0;
  }
  
  &__label{
    font-size: 0.85rem;
    font-weight: 700;

    @include mediaMin($desktop){
      margin-right: 1rem;
    }
  }

  &__btn{
    width: 75px;
    height: 25px;
    border-radius: 30px;
    background: #ccc;
    position: relative;
    cursor: pointer;

    &::after{
      content: '';
      display: block;
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      background: var(--white);
      transition: left 0.25s ease;
    }
  }

  &.active{

    & .toggle__btn{
      background: var(--toggle-dark);

      &::after{
        background: var(--dark-graysh-blue);
        left: 70%;
      }
    }
  }
}


// CARDS

.card{
  position: relative;
  padding: 2rem;
  background: var(--light-graysh-blue);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;

  &:hover{
    background: var(--card-hover-light);
  }

  &__header{
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    color: var(--dark-graysh-blue);
  }

  &__img{
    margin-right: 0.5rem;
  }

  &__body{
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;

    p:first-child{
      font-size: 3rem;
    }
    p:last-child{
      color: var(--dark-graysh-blue);
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }

  &__footer{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }

  &::before{
    content: '';
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 5px;
    background: transparent;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &--facebook{
    &::before{
      background: var(--facebook);
    }
  }
  &--twitter{
    &::before{
      background: var(--twitter);
    }
  }
  &--instagram{
    &::before{
      background: var(--instagram);
    }
  }
  &--youtube{
    &::before{
      background: var(--youtube);
    }
  }
}

.summary{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px;
  gap: 2rem 0;

  @include mediaMin($tablet){
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @include mediaMin($desktop){
    grid-template-columns: repeat(4, 1fr);
  }

}

.overview{
  display: grid;
  grid-template-rows: min-content repeat(2, 150px);
  gap: 1rem 0;

  @include mediaMin($tablet){
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }


  @include mediaMin($desktop){
    grid-template-columns: repeat(4, 1fr);
  }

  &__title{
    grid-column: 1 / -1;
    color: var(--dark-graysh-blue);
  }

  .card{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: normal;
    padding: 1rem;
    gap: 1rem 0;

    &__img{
      transform: scale(1.2);
    }

    &__header,
    &__footer{
      justify-content: space-between;
    }
    &__header{
      font-size: 1rem;
    }
    &__footer{
      font-size: 2rem;
    }
    .up,
    .down{
      font-size: 0.9rem;
    }
  }
}


.up,
.down{
  position: relative;
  &::before{
    position: absolute;
    top: -10%;
    left: -0.75rem;
  }
}
.up{
  color: var(--lime-green);
  &::before{
    content: url('../images/icon-up.svg');
  }
}
.down{
  color: var(--bright-red);
  &::before{
    content: url('../images/icon-down.svg');
  }
}



body.dark{
  background: var(--dark-blue-bg);
  color: var(--white);

  .header__followers{
    color: var(--desaturated-blue);
  }

  .toggle{
    &__label{
      color: var(--desaturated-blue);
    }
  }

  .overview__title{
    color: var(--white);
  }

  .card{
    background: var(--dark-desaturated-blue);

    &:hover{
      background: var(--card-hover-dark);
    }  
  }
}

.attribution{
  font-size: 11px;
  text-align: center;
  margin: 1rem;
  a{
    color: hsl(228, 45%, 44%);
  }
}
